services:
  mangamanagerapi:
    build: ./mangaManager
    container_name: mangamanagerapi
    ports:
      - "8080:8080"
    networks:
      - app-net

  mongodb:
    image: mongo
    container_name: mongodb
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=rootuser
      - MONGO_INITDB_ROOT_PASSWORD=rootpass
    networks:
      - app-net

  apitest:
    build: ./apiTest
    container_name: apitest
    depends_on:
      - mangamanagerapi
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  mongo_data:
